@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<section>
    <div class="box">
        <h2>Welcome to Stand Up!</h2>
        <p>Stand Up is a web application built with a focus on start up or small businesses that use CRM software. 
        What is Stand Up exactly? Stand Up is a dual purpose application that has the capability for employees to 
        make daily logs of tasks they worked on during the day as well as track time spent on each task. This tool
        helps managers to alleviate constantly having to spend time in meetings going over what everyone is working
        on as they can just see a list of their employee's task logs.</p>




    </div>
</section>












